@font-face {
  font-family: 'blanch';
  src: url('//codecloud.cdn.speedyrails.net/sites/581107b46e6f642cc0000000//1491595550000/Blanch-Caps.woff')
}


.feature_item figure figcaption .view_button{
    background: #D6EEFA;
    color:black;
}

.popup-close{
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-top: 16px;
    color: transparent;
}

.pp_img_bg{
    position: absolute;
    top: 0;
    width:650px;
}

.newsletter-form{
    position: absolute;
    z-index: 9;
    left: 90px;
    top: 90px;
    max-width: 40%;
    
    h3{
        font-family: blanch;
        font-size:24px;
        color: blue;
    }
}